html{
    background: #000;
}
.box{
    /* css-modules引入其他css *,composes:引入的css会优先处理所以要把它放在最前，防止后面的样式被覆盖*/
    composes: bigbox from './common.css';
    width:200px;
    height:200px;
    border:4px;
    background: #333;
    
}